* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-weight: 700;
  font-family: Neuton;

  /* border: 1px solid red; */
}
/*------------------------------head---------------------------- */
#head {
  width: 100vw;
  height: 17vh;
  top: 0;
  right: 0;
  z-index: 1;
  position: fixed;
  background-color: #1d3557;
  /* border: 1px solid green; */
}
#page_header {
  width: 100vw;
  height: 17vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo {
  width: 10%;
  height: 100%;
  /* border: 1px solid rgb(0, 0, 0); */
}
img {
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.nav-ul {
  width: 40%;
  height: 40%;
  display: flex;
  gap: 0.2rem;
  font-size: 7rem;
  justify-content: space-around;
  align-items: center;
  /* border: 1px solid rgb(77, 2, 14); */
}
.li-list {
  width: 26%;
  height: 70%;
  padding: 0.3rem;
  text-align: center;
  /* border: 1px solid red; */
}
.nav-ul .li-list,
a {
  list-style: none;
  position: relative;
  display: block;
  text-decoration: none;
}
.nav-ul .li-list a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 10%;
  width: 80%;
  height: 2px;
  transition: 0.4s;
  transform: scale(0);
  border-radius: 5px;
  background-color: rgb(253, 253, 253);
}
.nav-ul .li-list a:hover::after {
  transform: scale(1);
}
.nav-ul .li-list a.active::after {
  transform: scale(1);
}
.li-list a {
  font-size: 1.4rem;
  color: antiquewhite;
}
#menuBtn {
  display: none;
  cursor: pointer;
  user-select: none;
}
#menuBtn .bar {
  width: 26px;
  height: 3px;
  margin: 5px auto;
  border-radius: 5px;
  background-color: #dedce1;
  transition: 0.4s cubic-bezier(1, 0.2, 0.2, 1);
}
@media screen and (max-width: 400px) and (min-width: 300px) {
  #head {
    height: 10vh;
  }
  #page_header {
    height: 10vh;
    justify-content: space-between;
  }
  .logo {
    width: 10%;
    height: 100%;
    margin-left: 12%;
  }
  img {
    width: 11vh;
    padding: 0.1rem;
  }
  .nav-ul {
    width: 10%;
    height: 10%;
    gap: 0.1rem;
    justify-content: flex-start;
  }
  #page_header .nav-ul {
    position: fixed;
    width: 200px;
    z-index: 1;
    top: 67px;
    right: -250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(80vh - 70px);
    border-radius: 30% 0% 0% 100%;
    background-color: #1d3557;
    transition: right 0.4s cubic-bezier(1, 0.2, 0.2, 1);
    border-top: 1px solid black;
  }
  #page_header .nav-ul .li-list {
    padding: 10px;
    letter-spacing: 1px;
  }
  #page_header .nav-ul .li-list:nth-child(1) {
    margin-top: 5rem;
  }
  .li-list {
    width: 50%;
    height: 10%;
    padding: 1px;
  }
  #menuBtn.active .bar:nth-child(2) {
    opacity: 0;
    transform: translateX(-30px);
  }
  #menuBtn.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #menuBtn.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  #page_header .nav-ul.active {
    right: 0;
  }
  .li-list {
    padding: 0.2rem;
  }
}
#menuBtn {
  display: block;
  margin-right: 12%;
}
#page_header .nav-ul {
  position: fixed;
  width: 250px;
  z-index: 1;
  top: 67px;
  right: -250px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: calc(80vh - 70px);
  border-radius: 30% 0% 0% 100%;
  background-color: #1d3557;
  transition: right 0.4s cubic-bezier(1, 0.2, 0.2, 1);
  /* border-top: 1px solid black; */
}
@media screen and (max-width: 572px) and (min-width: 400px) {
  #head {
    height: 10vh;
  }
  #page_header {
    height: 10vh;
    justify-content: space-between;
  }
  .logo {
    width: 10%;
    height: 100%;
    margin-left: 12%;
  }
  img {
    width: 11vh;
    padding: 0.1rem;
  }
  .nav-ul {
    width: 10%;
    height: 10%;
    gap: 0.1rem;
    justify-content: flex-start;
  }
  #menuBtn {
    display: block;
    margin-right: 12%;
  }
  #page_header .nav-ul {
    position: fixed;
    width: 250px;
    z-index: 1;
    top: 67px;
    right: -250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(80vh - 70px);
    border-radius: 30% 0% 0% 100%;
    background-color: #1d3557;
    transition: right 0.4s cubic-bezier(1, 0.2, 0.2, 1);
    /* border-top: 1px solid black; */
  }
  #page_header .nav-ul .li-list {
    padding: 10px;
    letter-spacing: 2px;
  }
  #page_header .nav-ul .li-list:nth-child(1) {
    margin-top: 5rem;
  }
  .li-list {
    width: 50%;
    height: 10%;
    padding: 1px;
  }
  #menuBtn.active .bar:nth-child(2) {
    opacity: 0;
    transform: translateX(-30px);
  }
  #menuBtn.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #menuBtn.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  #page_header .nav-ul.active {
    right: 0;
  }
  .li-list {
    padding: 0.2rem;
  }
}
@media screen and (max-width: 768px) and (min-width: 568px) {
  #head {
    height: 10vh;
  }
  #page_header {
    height: 10vh;
    justify-content: space-between;
  }
  .logo {
    width: 10%;
    height: 100%;
    margin-left: 12%;
  }
  img {
    width: 12vw;
    padding: 0.1rem;
  }
  .nav-ul {
    width: 10%;
    height: 10%;
    gap: 0.5rem;
    justify-content: flex-start;
  }
  #menuBtn {
    display: block;
    margin-right: 12%;
  }
  #page_header .nav-ul {
    top: 67px;
    z-index: 1;
    width: 250px;
    right: -250px;
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: column;
    height: calc(80vh - 70px);
    background-color: #1d3557;
    border-radius: 30% 0% 0% 100%;
    /* border-top: 1px solid black; */
    transition: right 0.4s cubic-bezier(1, 0.2, 0.2, 1);
  }
  #page_header .nav-ul .li-list {
    padding: 10px;
    letter-spacing: 2px;
  }
  #page_header .nav-ul .li-list:nth-child(1) {
    margin-top: 5rem;
  }
  .li-list {
    width: 50%;
    height: 10%;
    padding: 1px;
  }
  #menuBtn.active .bar:nth-child(2) {
    transform: translateX(-30px);
    opacity: 0;
  }
  #menuBtn.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  #menuBtn.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  #page_header .nav-ul.active {
    right: 0;
  }
}
@media screen and (max-width: 1025px) and (min-width: 768px) {
  img {
    padding: 0.5rem;
  }
}
/*------------------------------head---------------------------- */

/* --------------------------home_section----------------------- */
#home-section {
  width: 100vw;
  height: 75vh;
  top: 17%;
  gap: 2rem;
  display: flex;
  padding: 1rem;
  position: relative;
  align-items: center;
  justify-content: space-around;
  background-color: #f1faee;
  /* border: 1px solid black; */
}

#content-section {
  width: 55%;
  height: 90%;
  gap: 1rem;
  padding: 2rem;
  display: flex;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.7rem;
  flex-direction: column;
  /* border: 1px solid red; */
}
#content-section h1 {
  font-size: 2.6rem;
  line-height: 2rem;
}
#img-div {
  width: 45%;
  height: 90%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid green; */
}
#img-div .img-shado {
  width: 350px;
  height: 400px;
  padding: 5px;
  border-radius: 50px;
  border: 4px solid rgb(71, 67, 67);
  filter: drop-shadow(0px 0px 2px rgb(89, 83, 83));
}
#profile {
  width: 100%;
  height: 100%;
  filter: drop-shadow(3px 0px 5px rgb(92, 88, 88));
}
.social {
  display: flex;
  margin-top: 4rem;
  list-style: none;
  align-items: center;
  justify-content: space-evenly;
}
.social i {
  width: 38px;
  height: 38px;
  display: flex;
  border-radius: 18px;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(71, 67, 67);
}
i {
  font-size: 1.5rem;
  color: rgb(71, 67, 67);
}
.social i:hover {
  color: rgb(255, 255, 255);
  background: rgb(71, 67, 67);
  filter: drop-shadow(0px 0px 5px rgb(92, 88, 88));
}

.social i:hover {
  color: rgb(255, 255, 255);
  filter: drop-shadow(0px 0px 5px rgb(92, 88, 88));
}
@media screen and (max-width: 1025px) and (min-width: 768px) {
  .social {
    gap: 3rem;
    margin-top: 0.5rem;
  }
  #content-section {
    padding: 0.5rem;
    margin-top: 1rem;
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
  #content-section h1 {
    font-size: 2.4rem;
    line-height: 3.4rem;
  }
  #img-div {
    padding: 1px;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 768px) and (min-width: 562px) {
  #home-section {
    top: 65px;
    gap: 0.5rem;
    height: 70vh;
    padding: 0.5rem;
  }
  #content-section {
    width: 50%;
    padding: 0.2rem;
    font-size: 1.1rem;
    line-height: 1.2rem;
  }
  #content-section h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  #img-div {
    padding: 1px;
  }
  .social {
    gap: 2rem;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 562px) and (min-width: 400px) {
  #home-section {
    top: 10vh;
    gap: 1rem;
    height: 120vh;
    padding: 0.5rem;
    flex-wrap: wrap-reverse;
  }
  #content-section {
    width: 100vw;
    height: 40vh;
    padding: 0.2rem;
    font-size: 1rem;
    line-height: 1rem;
  }
  #content-section h1 {
    font-size: 2rem;
    line-height: 1rem;
  }
  .social {
    padding: 10px;
    margin-top: 1px;
    justify-content: space-evenly;
  }
  #img-div {
    width: 100%;
    height: 50%;
    margin-top: 0px;
  }
  #img-div .img-shado {
    width: 400px;
    height: 366px;
    padding: 1px;
    overflow: hidden;
    border-radius: 192px;
    border: 4px solid rgb(71, 67, 67);
    filter: drop-shadow(0px 0px 2px rgb(89, 83, 83));
  }
}
@media screen and (max-width: 400px) and (min-width: 300px) {
  #home-section {
    top: 10vh;
    gap: 0.1rem;
    height: 100vh;
    padding: 0.5rem;
    flex-wrap: wrap-reverse;
  }
  #content-section {
    width: 100vw;
    height: 42vh;
    padding: 0.2rem;
    font-size: 1rem;
    line-height: 1rem;
  }
  #content-section h1 {
    font-size: 2rem;
    line-height: 1rem;
  }
  .social {
    padding: 10px;
    margin-top: 1px;
    justify-content: space-evenly;
  }
  #img-div {
    width: 100%;
    height: 50%;
    margin-top: 0px;
  }
  #img-div .img-shado {
    width: 290px;
    height: 300px;
    padding: 1px;
    overflow: hidden;
    border-radius: 148px;
    border: 4px solid rgb(71, 67, 67);
    filter: drop-shadow(0px 0px 2px rgb(89, 83, 83));
  }
}

/*-----------------About_section------------------------ */
#about-section {
  width: 100vw;
  height: 40vh;
  top: 17%;
  display: flex;
  color: white;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #1d3557;
  /* border: 1px solid black; */
}
#about-section .about-me {
  width: 85%;
  height: 100%;
  /* border: 1px solid red; */
}
#about-section .about-me h2 {
  font-size: 2rem;
  text-align: center;
  word-spacing: 8px;
  margin: 30px;
}
#about-section .about-me p {
  font-size: 1.1rem;
  word-spacing: 2px;
  line-height: 1.4rem;
  padding: 5px;
}
@media screen and (max-width: 1025px) and (min-width: 768px) {
  #about-section {
    height: 45vh;
  }
}
@media screen and (max-width: 768px) and (min-width: 562px) {
  #about-section {
    height: 40vh;
    top: 10%;
  }
  #about-section .about-me {
    width: 100%;
  }
  #about-section .about-me h2 {
    margin: 10px;
  }
  #about-section .about-me p {
    font-size: 1.1rem;
    word-spacing: 0px;
    line-height: 1.2rem;
    padding: 12px;
  }
}
@media screen and (max-width: 572px) and (min-width: 400px) {
  #about-section {
    height: 50vh;
    top: 10%;
  }
  #about-section .about-me {
    width: 100%;
  }
  #about-section .about-me h2 {
    font-size: 1.5rem;
    text-align: center;
    word-spacing: 5px;
    margin: 30px;
  }
  #about-section .about-me p {
    font-size: 1rem;
    word-spacing: 5px;
    line-height: 1.1rem;
    padding: 10px;
  }
}
@media screen and (max-width: 400px) and (min-width: 300px) {
  #about-section {
    height: 50vh;
    top: 10%;
  }
  #about-section .about-me {
    width: 100%;
  }
  #about-section .about-me h2 {
    font-size: 1.5rem;
    text-align: center;
    word-spacing: 5px;
    margin: 15px;
  }
  #about-section .about-me p {
    font-size: 1rem;
    word-spacing: 5px;
    line-height: 1.1rem;
    padding: 10px;
  }
}

/*---------------------skills-------------------------------------- */
#progress {
  width: 100vw;
  height: 70vh;
  top: 112px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f1faee;
  /* border: 1px solid black; */
}
#progress .main-tital {
  width: 90%;
  height: 20vh;
  padding-top: 30px;
  text-align: center;
}

.main-tital {
  font-size: 1.2rem;
  gap: 1rem;
}
.skill-container {
  width: 100%;
  height: 50vh;
  gap: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
}
.skill-container .subject {
  width: 75%;
  height: 9vh;
  padding: 0.5rem;
  box-shadow: 2px 3px 4px gray;
  /* border: 1px solid red; */
}
.progress-bar {
  position: relative;
  width: 70vw;
  height: 5px;
  top: 15px;
  background-color: #808080;
  border-radius: 15px;
}
.progress-bar::after {
  position: absolute;
  content: attr(value);
  top: -35px;
  right: 0;
  color: #808080;
  font-size: 18px;
}
.progress-line {
  position: relative;
  width: 0vw;
  height: 7px;
  background-color: #d03645;
  top: 9px;
  border-radius: 15px;
  animation: animate 1.5s cubic-bezier(1, 0.2, 0.2, 1) forwards;
}
@keyframes animate {
  100% {
    width: 100%;
  }
}
.progress-line::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 12px;
  height: 13px;
  border-radius: 50%;
  background-color: #d03645;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1025px) and (min-width: 768px) {
  #progress {
    height: 70vh;
    top: 112px;
  }
  #progress .main-tital {
    height: 15vh;
    padding-top: 0px;
  }
  .main-tital {
    font-size: 1.2rem;
    gap: 0.5rem;
  }
  .skill-container .subject {
    width: 85%;
  }
  .progress-bar {
    width: 83vw;
  }
}
@media screen and (max-width: 768px) and (min-width: 562px) {
  #progress {
    top: 65px;
  }
  #progress .main-tital {
    height: 16vh;
    padding-top: 9px;
  }
  .main-tital {
    gap: 0.5rem;
    font-size: 1.2rem;
  }
  .skill-container .subject {
    width: 88%;
  }
  .progress-bar {
    width: 85vw;
  }
}
@media screen and (max-width: 562px) and (min-width: 400px) {
  #progress {
    top: 65px;
    height: 74vh;
  }
  #progress .main-tital {
    height: 16vh;
    padding-top: 0px;
    word-spacing: 2px;
  }
  .main-tital {
    gap: 0.5rem;
    font-size: 1rem;
  }
  .skill-container .subject {
    width: 95%;
  }
  .progress-bar {
    width: 90vw;
  }
}
@media screen and (max-width: 400px) and (min-width: 300px) {
  #progress {
    top: 65px;
    height: 74vh;
  }
  #progress .main-tital {
    height: 16vh;
    padding-top: 0px;
    word-spacing: 2px;
  }
  .main-tital {
    gap: 0.5rem;
    font-size: 1rem;
  }
  .skill-container .subject {
    width: 95%;
  }
  .progress-bar {
    width: 90vw;
  }
}
/* -----------------------------contect-section------------------------------------- */

#contect-us {
  width: 100vw;
  height: 90vh;
  display: flex;
  gap: 1rem;
  top: 125px;
  font-weight: 500;
  position: relative;
  font-family: Neuton;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid rgb(255, 12, 12); */
}
.contect-title {
  width: 100vw;
  height: 16vh;
  display: flex;
  font-size: 2rem;
  font-weight: 900;
  word-spacing: 0.4rem;
  border: 1px solid green;
  justify-content: center;
  color: rgb(255, 255, 255);
  background-color: #1d3557;
  align-items: center;
}
#contect-us .contect-way {
  width: 100%;
  height: 37%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid rgb(17, 0, 255); */
}
#contect-us .contect-way .icon {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 5px 12px gray;
  /* border: 1px solid red; */
}
.icon p {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
  word-wrap: break-word;
  /* border: 1px solid black; */
}
#contect-us .contect-way .icon {
  display: flex;
  gap: 1rem;
}

.contect-form {
  width: 100%;
  height: 30vh;
  margin-top: 20px;
  /* border: 1px solid green; */
}

.contect-form div {
  width: 50vw;
  height: 30vh;
  display: flex;
  position: relative;
  left: 25%;
  gap: 1rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 5px 12px gray;
  /* border: 1px solid blue; */
}
.contect-form div input {
  width: 30vw;
  height: 5vh;
  padding: 10px;
  font-weight: bold;
  border-radius: 3px;
  /* border: 1px solid black; */
}
.contect-form div button {
  width: 30vw;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  /* border: 1px solid black; */
}
.contect-form div button:hover {
  color: wheat;
  background-color: rgb(180, 50, 50);
}
.socia {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  margin-top: 25px;
  list-style: none;
  margin-top: 10px;
  background-color: #1d3557;
}
.socia i {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}
i:hover {
  color: aquamarine;
}

@media screen and (max-width: 1025px) and (min-width: 768px) {
  #contect-us {
    top: 110px;
  }
}
@media screen and (max-width: 768px) and (min-width: 562px) {
  #contect-us {
    top: 65px;
  }
  #contect-us .contect-way .icon {
    width: 27%;
    height: 100%;
  }
  .icon p {
    padding: 0.3rem;
  }
  .contect-form div {
    left: 7%;
    width: 85vw;
  }
  .contect-form div input {
    width: 70vw;
  }
}
@media screen and (max-width: 572px) and (min-width: 400px) {
  #contect-us {
    top: 65px;
    height: 100vh;
  }
  #contect-us .contect-way .icon {
    width: 31%;
    height: 91%;
  }
  #contect-us .contect-way {
    height: 29%;
    padding: 0.3rem;
  }
  .icon p {
    padding: 0.2rem;
  }
  .contect-form div {
    left: 8%;
    gap: 1rem;
    width: 81vw;
  }
  .contect-form div input {
    width: 70vw;
  }
  .socia {
    height: 20vh;
  }
}
@media screen and (max-width: 400px) and (min-width: 300px) {
  #contect-us {
    top: 65px;
    height: 100vh;
  }
  #contect-us .contect-way .icon {
    width: 31%;
    height: 91%;
  }
  #contect-us .contect-way {
    height: 29%;
    padding: 0.3rem;
  }
  .contect-title {
    height: 10vh;
  }
  .icon p {
    padding: 0.3rem;
  }
  .contect-form div {
    left: 8%;
    gap: 1rem;
    width: 81vw;
  }
  .contect-form div input {
    width: 70vw;
  }
  .socia {
    height: 20vh;
  }
  .contect-form div button {
    padding: 6px;
  }
}
